body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

* {
    margin: 0px;
    padding: 0px;
}

.title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    letter-spacing: 0.05em;
}

.pretitle {
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;    
}

.pretitle::before {   
    display: inline-block;
    content: "";
    width: 60px;
    height: 1px;
    margin-right: 20px;
}

.container {
    width: 1200px;
    margin: 0px auto;
    padding: 0 15px;
}

/* HEADER */
.header {
    background-color: black;
    color: white;
}

.header-nav,
.nav-list,
.contact-list,
.media-list {
    display: flex;
}

.header-nav {
    justify-content: space-between;
    align-items: center;
    padding-top: 28px;
}

.nav-list li{
    margin-left: 40px;
}

.nav-link {
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.1em;
    
    color: var(--white-text);
}

.nav-link:hover {
    color: var(--orange);
}

.contact-list {
    margin-left: 322px;
}

.contact-list li:last-child {
    margin-left: 40px;
}

.online-sign {
    padding: 12px 20px;
    
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.09em;
    text-transform: uppercase;

    color: var(--white-text);
    border: 1px solid var(--orange);
    border-radius: 25px;    
}

.online-sign:hover,
.online-sign:focus {
    background-color: var(--orange);
    color: var(--white-text);
}

.media-list {
    position: absolute;
    bottom: 299px;
    transform: rotate(-90deg);
    z-index: 2;
}

.media-list li {
    margin-left: 40px;
}

/* HERO */
.hero .container {
    background-color: black;
    padding-left: 215px;
}

.hero-pretitle {
    display: flex;
    align-items: center;
    padding-top: 184px;
   
    color: var(--grey-text-op60);
}

.hero-pretitle::before {
    background: var(--grey-text-op60);
}

.hero-title {
    margin: 20px 0px;

    font-size: 72px;
    line-height: 85px;

    color: var(--white-text);    
}

.hero-desc {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.02em;
    
    color: var(--grey-text);
}

.hero-btns {
    margin-top: 142px;
    padding-bottom: 40px;
    text-align: right;
}

.hero-btn {
    height: 24px;
    width: 60px;

    font-size: 11px;
    font-weight: 600;
    line-height: 15px;
    text-align: right;
    letter-spacing: 0.1em;

    border: none;
    border-bottom: 1px solid;
    background: transparent;
    color: var(--grey-text-op60);    
}

.hero-btn:hover,
.hero-btn:focus {
    color: var(--white-text);
}

.hero-btn:last-child {
    margin-left: 26px;
    text-align: right;
}

.hero-btn:first-child {
    text-align: left;
}

/* ABOUT US */
.about .container {
    display: flex;
    padding: 130px 15px;
}

.about-images {
    display: flex;
    margin-right: 64px;
}

.about-images li:last-child {
    margin-left: 30px;
}

.about-pretitle {
    display: flex;
    align-items: center;    
    margin-bottom: 20px;
    color: var(--black-text);
}

.about-pretitle::before {
    background: var(--black-text);
}

.about-title {
    margin-bottom: 20px;

    font-size: 42px;
    line-height: 49px;
    color: var(--black-text);
}

.about-text {
    margin-bottom: 20px;

    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02em;
    
    color: var(--graphity-text);    
}

.about-desc {
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.02em;

    color: var(--graphity-text);
}

.about-sign {
    color: var(--black-text);
}

/* SERVICES & PRICES */

.services .container {   
    padding: 130px 55px;
    background-image: url(../image/img-bgr.jpg);
    background-color: #111319;    /* TO FIX Background */
}

.services-pretitle {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: var(--grey-text-op60);
}

.services-pretitle::before {
    background: var(--grey-text-op60);
}

.services-title {
    margin-bottom: 44px;
    color: var(--white-text);
}

.tables-wrapper {
    display: flex;
    margin-bottom: 50px;
}

.services-table {
    padding: 30px 40px;
    width: 585px;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02em;
    
    color: var(--grey-text);    
}

.first-table {
    background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.second-table {
    background: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.services-sign {
    display: flex;
    justify-content: center;
}

/* .cut-price::before {
    width: 55px;
    content: "";

    display: inline-block;
    border-bottom: 1px solid rgba(157, 164, 189, 0.12);
} */

